<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicDot</title>
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300, 400, 500, 600, 700, &display=block">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/container.css">
    <link rel="stylesheet" href="css/cabecalho.css">
    <link rel="stylesheet" href="css/cursos.css">
    <link rel="stylesheet" href="css/video.css">
    <link rel="stylesheet" href="css/planos.css">
    <link rel="stylesheet" href="css/beneficios.css">
    <link rel="stylesheet" href="css/chamada-youtube.css">
    <link rel="stylesheet" href="css/chamada-app.css">
    <link rel="stylesheet" href="css/rodape.css">
    <link rel="stylesheet" href="css/form-newsletter.css">
</head>
<body>
    <header class="cabecalho container">
        <a href="/">
            <img class="cabecalho__logo" src="img/musicdot-logo-light.svg" title="Ir para a página inicial da MusicDot" alt="Musicdot">
        </a>

        <nav>
            <ul class="cabecalho__menu">
                <li class="cabecalho__item-menu"><a href="/sobre"></a></li>
                <li class="cabecalho__item-menu"><a href="#">Entrar</a></li>
                <li class="cabecalho__item-menu cabecalho__item-menu--matricula"><a href="/matricula">Matricule-se</a></li>
            </ul>
        </nav>
    </header>    
</body>
</html>